/* Múltiples selectores para header y footer */
.header, .footer {
    background-color: #eb9b34;
    padding: 20px;
}

/* Combinación de etiqueta y clase */
h1.titulo-principal {
    color: #e02108;
    font-size: 2.5em;
}

/* Combinación de pseudo-clase y clase */
.button:hover {
    background-color: #4b2b11;
    color: rgb(153, 190, 18);
}

/* Combinación de pseudo-clase y etiqueta */
a:visited {
    color: #17b6c2;
}

/* Combinación de atributo y pseudo-clase */
input[type="text"]:focus {
    border: 2px solid #0a1b36;
}

/* Combinación de etiqueta, clase y pseudo-elemento */
p.intro::first-letter {
    font-size: 2em;
    color: #093a11;
}

/* Combinación de selectores de descendiente */
nav ul li a {
    text-decoration: none;
    color: #640606;
}

/* Combinación de selectores hijo */
div > p {
    margin: 20px 0;
    line-height: 1.6;
}

/* Múltiples selectores para etiquetas */
h2, h3, h4 {
    color: #301a58;
    margin-bottom: 15px;
}

/* Múltiples selectores de clase */
.text-muted, p {
    font-size: 1em;
    color: #111010;
}

/* Múltiples selectores de ID */
#menu, #sidebar {
    background-color: #350e1a;
    color: rgb(206, 110, 110);
}

/* Múltiples selectores de atributo */
input[type="submit"], input[type="button"] {
    background-color: #e76f51;
    color: rgb(19, 17, 17);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* Fondo de la página */
body {
    background-color: #474444; 
    color: #b3988e; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

